<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role_name %><br />
    <%= f.text_field :role_name %>
  </div>
  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :edit_user %><br />
    <%= f.check_box :edit_user %>
  </div>
  <div class="field">
    <%= f.label :edit_role %><br />
    <%= f.check_box :edit_role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
