<h1>Listing roles</h1>

<table>
  <tr>
    <th>Role name</th>
    <th>Admin</th>
    <th>Edit user</th>
    <th>Edit role</th>
    <th>Edit all company</th>
    <th>Edit own company</th>
    <th>Edit all item</th>
    <th>Edit own item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.role_name %></td>
    <td><%= role.admin %></td>
    <td><%= role.edit_user %></td>
    <td><%= role.edit_role %></td>
    <td><%= role.edit_company %></td>
    <td><%= role.edit_own_company %></td>
    <td><%= role.edit_all_item %></td>
    <td><%= role.edit_own_item %></td>
    <td><%= link_to 'Show', role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Role', new_role_path %>
