<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if false %>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :goods_option %><br />
    <%= f.text_field :goods_option %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :company %><br />
    <%= f.collection_select :company_id, Company.all, :id, :company_name %>
  </div>
  <div class="field">
    <%= f.label :item_name %><br />
    <%= f.text_field :item_name %>
  </div>
  <div class="field">
    <%= f.label :item_price %><br />
    <%= f.number_field :item_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
