<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Company:</b>
  <%= link_to @user.company.company_name, company_path(@user.company) if !@user.company.nil?%>
</p>

<p>
  <b>Role:</b>
  <%= link_to @user.role.role_name, role_path(@user.role) %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
